.btn-submit {
  height: 100%;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 3px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}